@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
:root {
    /*===== Colores =====*/
    /* Paleta de colores */
    /* Primario */
    --primario-color: #ff274b;
    --luz-color-primario: #FF5A75;
    --sombra1-primario-color: #D0203E;
    --sombra2-primario-color: #A01A31;
    /* Secundario */
    --secundario-color: #60C7B6;
    --luz-color-secundario: #89D6C9;
    --sombra1-secundario-color: #4BA595;
    --sombra2-secundario-color: #3A8578;
    /* Acento */
    --acento-color: #ffd432;
    --luz-color-acento: #FFE066;
    --sombra1-acento-color: #D4AF2A;
    --sombra2-acento-color: #A78921;

    --bg-color-light: #fefefe;
    --bg-color-dark: #080808;
    /*===== Fuente y tipografia =====*/
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --color-font: #b3b3b3;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --smaller-font-size: .75rem;
    /*===== Margenes =====*/
    --mb-2: 1rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
    /*===== z index =====*/
    --z-back: -10;
    --z-fixed: 100;

    /* Botones */
    --background-btn:#282828;
}

/* NAV */
/* Buscador */
nav.nav-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    position: sticky;
    top:0px;
    z-index: 1;
    width: 100%;
    margin: auto;
    height: 45px;
    background-color: var(--bg-color-dark);
}
.contenedor-logo-nav {
    display: flex;
}
nav.nav-home .contenedor-logo-nav img.img-logo-nav {
    width: 45px;
    height: 45px;
}
.buscador {
    display: flex;
    align-items: center;
    background-color: var(--background-btn);
    gap: 15px;
    border-radius: 50px;
    padding: 10px 15px;
    width: 300px;
}

.buscador i {
    color: #b3b3b3;
    margin-right: 10px;
}

.buscador input {
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    width: 100%;
}

.buscador input::placeholder {
    color: #b3b3b3;
}

.buscador:focus-within {
    border: solid 1px var(--bg-color-light);
}
.notificacion {
    width: 25px;
    filter: grayscale(100%) brightness(50%); /* como el icono que baje es blanco, le pongo filtro para volverlo mas gris */
}

/* Perfil */
.nav-derecha {
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
}
.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--background-btn);
    border-radius: 50%;
    cursor: pointer;
}

.profile-container:hover {
    transform: scale(1.1);
}

.profile-icon {
    width: 70%;
    height: 70%;
    border-radius: 50%;
    object-fit: cover;
}

/* Menu desplegable perfil */
/* Estilos del menú desplegable */
.menu-desplegable {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: var(--background-btn);
    border-radius: 8px;
    width: 180px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
}

.menu-desplegable.show {
    display: flex;
}

.menu-desplegable ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-desplegable li {
    font-size: 13px;
    padding: 12px;
    text-align: left;
    border-radius: 5px;
}

.menu-desplegable li a {
    color: rgb(230, 230, 230);
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

.menu-desplegable li:hover {
    background-color: #3a3a3a;
}
.menu-desplegable li:hover a {
    color: white;
    text-decoration: underline;
}

.menu-desplegable ul hr {
    margin: 0;
    padding: 0;
}


/* Contenido */
.contenido {
    display: flex;
    gap: 20px;
    top: 0px;
    width: 100%;
}
.contenido .tu-biblioteca {
    width: 30%;
}
.contenedor-crear-playlist {
    display: flex;
    justify-content: space-between;
}
.contenedor-tuspoiler-crear {
    position: sticky;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: space-between;
    background-color: black;
    top: 65px;   
    padding: 10px 2px;
}
.tu-biblioteca .btn-crear {
    border-radius: 20px;
    padding: 8px 12px;
    display: flex;
    gap: 5px;
    font-weight: bold;
    border: none;
    color: rgb(236, 236, 236);
    background-color: var(--background-btn);
    cursor: pointer;
    font-size: 13px;
}
.tu-biblioteca .btn-crear:hover, .btn-filtro-tus:hover {
    background-color: #494949;
}
.btn-filtro-tus {
    border-radius: 20px;
    padding: 10px 15px;
    display: flex;
    margin-right: 10px;
    font-weight: bold;
    border: none;
    color: rgb(236, 236, 236);
    background-color: var(--background-btn);
    cursor: pointer;
    font-size: 11px;
}
.contenedor-tuspoiler-crear div {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 13px;
    font-weight: bold;
    color: var(--color-font);
}
.contenido .recomendaciones {
    width: 100%;
    background-color: blue;
}

/* Tus playlist */
.tus-playlist ul {
    list-style: none;
    padding-left: 0px;
}
.tus-playlist ul li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.tus-playlist ul li:hover {
    background-color:#222222;
}
.tus-playlist ul li img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
.tus-playlist ul li div h4, .tus-playlist ul li div p {
    margin: 0px;
}
.tus-playlist ul li div h4 {
    font-size: 14px;
    color:rgb(218, 218, 218);
}
.tus-playlist ul li div p {
    font-size: 12px;
    color:rgb(227, 227, 227);
}
.publicidad-playlist {
    display: flex;
    padding-left: 15px;
    margin-top: 20px;
}
.publicidad-playlist img {
    border-radius: 5px;
}

/* Recomendaciones */
/* Filtros + publicidad */
.contenedor-filtro-recomendaciones {
    display: flex;
    margin: 10px 20px;
    gap: 10px;
}
.contenedor-recomendaciones-filtro {
    position: fixed;
    top: 56px; /* son los px que tiene de ancho el nav */
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.contenedor-filtro-recomendaciones .btn-filtro {
    padding: 12px 20px;
    width: 90px;
    border-radius: 20px;
    border:none;
    color: rgb(237, 237, 237);
    font-weight: 500;
    font-size: 12px;
    background-color: var(--background-btn);
    cursor: pointer;
    transition: ease 0.3s;
}
.contenedor-filtro-recomendaciones .btn-filtro:hover {
    background-color: #3a3a3a;
}
.contenedor-filtro-recomendaciones .btn-filtro.activo, .btn-filtro-tus.activo {
    background-color: var(--sombra2-secundario-color);
}
.contenedor-publicidad {
    margin-top: 10px;
}
.contenedor-publicidad img {
    border-radius: 5px;
    width: 200px;
}   

.contenedor-tuspoiler-crear .buscador {
    display: flex;
    align-items: center;
    background-color: var(--background-btn);
    gap: 8px;
    border-radius: 7px;
    padding: 5px 15px;
    width: 50%;
}

.contenedor-tuspoiler-crear .buscador i {
    color: #b3b3b3;
    margin-right: 10px;
}

.contenedor-tuspoiler-crear .buscador input {
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 13px;
    width: 100%;
}
.contenedor-tuspoiler-crear img.list {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}
.contenedor-buscador-list {
    display: flex; 
    justify-content: space-between;
}





/* Media query pantalla > 1600px */
@media only screen and (min-width: 1600px) {
    nav.nav-home {
        padding: 30px 0px;
    }
    nav.nav-home .contenedor-logo-nav img.img-logo-nav {
        width: 65px;
        height: 65px;
    }
    .buscador {
        display: flex;
        align-items: center;
        background-color: var(--background-btn);
        gap: 25px;
        border-radius: 50px;
        padding: 15px 20px;
        width: 400px;
    }
    
    .buscador input {
        font-size: 18px;
    }
        
    .notificacion {
        width: 40px;
    }

    .contenedor-tuspoiler-crear .buscador {
        gap: 8px;
        border-radius: 7px;
        padding: 12px 15px;
    }
    .contenedor-tuspoiler-crear .buscador input {
        font-size: 16px;
    }
    
    /* Perfil */
    .nav-derecha {
        gap: 25px;
        padding-right: 120px;
    }
    .profile-container {
        width: 50px;
        height: 50px;
    }
        
    /* Menu desplegable perfil */
    /* Estilos del menú desplegable */
    .menu-desplegable {
        position: absolute;
        top: 90px;
        right: 120px;
        background-color: var(--background-btn);
        border-radius: 8px;
        width: 250px;
    }

    .menu-desplegable li {
        font-size: 19px;
        padding: 15px;
    }

    .contenedor-recomendaciones-filtro {
        top: 80px;   

    }
    .contenedor-recomendaciones-filtro {
        width: 64%;
    }
    .contenido .tu-biblioteca {
        width: 25%;
    }
    .contenedor-tuspoiler-crear div {
        gap: 15px;
        font-size: 20px;
    }
    .tu-biblioteca .btn-crear {
        border-radius: 20px;
        padding: 12px 25px;
        display: flex;
        gap: 10px;
        font-size: 20px;
    }

    .contenedor-filtro-recomendaciones .btn-filtro {
        padding: 15px 24px !important;
        border-radius: 20px;
        font-size: 14px;
    }
    .contenedor-filtro-recomendaciones .btn-filtro {
        padding: 20px 35px;
        width: 140px;
        font-size: 16px;
    }
    .btn-filtro-tus {
        padding: 14px 30px;
        font-size: 16px !important;
        border-radius: 100px;
    }

    /* Tus playlist */
    .tus-playlist ul li {
        gap: 14px;
        padding: 15px;
    }
    .tus-playlist ul li img {
        width: 70px;
        height: 70px;
        border-radius: 1px;
    }
    .tus-playlist ul li div h4 {
        font-size: 20px;
        color:rgb(235, 235, 235);
    }
    .tus-playlist ul li div p {
        font-size: 16px;
        color:rgb(227, 227, 227);
    }
}