@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
:root {
    /*===== Colores =====*/
    /* Paleta de colores */
    /* Primario */
    --primario-color: #ff274b;
    --luz-color-primario: #FF5A75;
    --sombra1-primario-color: #D0203E;
    --sombra2-primario-color: #A01A31;
    /* Secundario */
    --secundario-color: #60C7B6;
    --luz-color-secundario: #89D6C9;
    --sombra1-secundario-color: #4BA595;
    --sombra2-secundario-color: #3A8578;
    /* Acento */
    --acento-color: #ffd432;
    --luz-color-acento: #FFE066;
    --sombra1-acento-color: #D4AF2A;
    --sombra2-acento-color: #A78921;

    --bg-color-light: #fefefe;
    --bg-color-dark: #080808;
    /*===== Fuente y tipografia =====*/
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --color-font: #b3b3b3;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --smaller-font-size: .75rem;
    /*===== Margenes =====*/
    --mb-2: 1rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
    /*===== z index =====*/
    --z-back: -10;
    --z-fixed: 100;

    /* Botones */
    --background-btn:#323232;
}

/* NAV */
/* Buscador */
body {
    padding: 0px 10px;
}
nav.nav-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    position: sticky;
    top:0px;
    z-index: 2;
    margin: auto;
    background-color: var(--bg-color-dark);
}
.contenedor-logo-nav {
    display: flex;
}
nav.nav-home .contenedor-logo-nav img.img-logo-nav {
    width: 45px;
    height: 45px;
}
.buscador {
    display: flex;
    align-items: center;
    background-color: var(--background-btn);
    gap: 15px;
    border-radius: 50px;
    padding: 10px 15px;
    width: 300px;
}

.buscador i {
    color: #b3b3b3;
    margin-right: 10px;
}

.buscador input {
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    width: 100%;
}

.buscador input::placeholder {
    color: #b3b3b3;
}

.buscador:focus-within {
    border: solid 1px var(--bg-color-light);
}
.notificacion {
    width: 25px;
    filter: grayscale(100%) brightness(50%); /* como el icono que baje es blanco, le pongo filtro para volverlo mas gris */
}

/* Perfil */
.nav-derecha {
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
}
.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--background-btn);
    border-radius: 50%;
    cursor: pointer;
}

.profile-container:hover {
    transform: scale(1.1);
}

.profile-icon {
    width: 70%;
    height: 70%;
    border-radius: 50%;
    object-fit: cover;
}

/* Menu desplegable perfil */
/* Estilos del menú desplegable */
.menu-desplegable {
    position: absolute;
    top: 65px;
    right: 5px;
    background-color: var(--background-btn);
    border-radius: 8px;
    width: 180px;
    display: none;
    flex-direction: column;
    z-index: 3;
}

.menu-desplegable.show {
    display: flex;
}

.menu-desplegable ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-desplegable li {
    font-size: 13px;
    padding: 12px;
    text-align: left;
    border-radius: 5px;
}

.menu-desplegable li a {
    color: rgb(230, 230, 230);
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

.menu-desplegable li:hover {
    background-color: #3a3a3a;
}
.menu-desplegable li:hover a {
    color: white;
    text-decoration: underline;
}

.menu-desplegable ul hr {
    margin: 0;
    padding: 0;
}


/* Contenido */
.contenido {
    display: flex;
    gap: 20px;
    top: 0px;
    width: 100%;
}
.contenido .tu-biblioteca {
    width: 40%;
}
.contenedor-crear-playlist {
    display: flex;
    justify-content: space-between;
}
.contenedor-tuspoiler-crear {
    position: sticky;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: space-between;
    background-color: black;
    top: 65px;   
    padding: 10px 2px;
}
.tu-biblioteca .btn-crear {
    border-radius: 20px;
    padding: 10px 15px;
    display: flex;
    gap: 5px;
    font-weight: bold;
    border: none;
    color: rgb(236, 236, 236);
    background-color: var(--background-btn);
    cursor: pointer;
    font-size: 13px;
}
.tu-biblioteca .btn-crear:hover, .btn-filtro-tus:hover {
    background-color: #494949;
}
.btn-filtro-tus {
    border-radius: 20px;
    padding: 10px 15px;
    display: flex;
    font-weight: bold;
    border: none;
    color: rgb(244, 244, 244);
    background-color: var(--background-btn);
    cursor: pointer;
    font-size: 11px;
}
.contenedor-tuspoiler-crear div {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: bold;
    color: var(--color-font);
}
.contenido .recomendaciones {
    width: 75%;
    /* background-color: blue; */
}

/* Tus playlist */
.menu-container {
    position: relative;
    cursor: pointer;
}
.menu-container .list {
    width: 23px !important;
}
.tus-playlist ul {
    list-style: none;
    padding-left: 0px;
}
.tus-playlist ul li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.tus-playlist ul li:hover {
    background-color:#222222;
}
.tus-playlist ul li img {
    width: 42px;
    height: 42px;
    border-radius: 10px;
}
.tus-playlist ul li div p {
    margin: 0px;
}
.tus-playlist ul li div .nombre-tus-playlist {
    font-size: 14px;
    font-weight: 500;
    color:rgb(252, 252, 252);
    font-weight: 500;
}
.tus-playlist ul li div p {
    font-size: 12px;
    color:rgb(198, 198, 198);
}
.publicidad-playlist {
    display: flex;
    padding-left: 15px;
    margin-top: 20px;
}
.publicidad-playlist img {
    border-radius: 5px;
}
/* Menu desplegable tus playlist */
.menu-tus-playlist {
    display: none;
    position: absolute;
    width: 140px;
    top: 25px;
    left: -130px;
    padding: 10px;
    list-style: none;
    border-radius: 5px;
    background: #282828;
}
.menu-tus-playlist p {
    font-size: 11px;
}
.menu-tus-playlist li {
    font-size: 13px;
    padding: 6px 5px;
    cursor: pointer;
    color: rgba(245, 245, 245, 0.976);
    font-weight: 500;
}
.menu-tus-playlist li:hover {
    color: rgb(238, 236, 236);
}
/* Menu activo */
.show-menu-tus-playlist {
    display: block;
}
.menu-tus-playlist li.active {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--secundario-color);
}
.menu-tus-playlist li.active img {
    width: 26px;
    display:flex;
}
.menu-tus-playlist li img {
    display: none;
}



/* Recomendaciones */
/* Filtros + publicidad */
.contenedor-filtro-recomendaciones {
    display: flex;
    margin: 15px 20px;
    gap: 10px;
}
.contenedor-recomendaciones-filtro {
    position: fixed;
    top: 70px; /* son los px que tiene de ancho el nav */
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
    width: 100%; /*si o si tiene que tener el width del contenedor, sino no anda el z-index */
    z-index: 1;
    background-color: var(--bg-color-dark);
}
.contenedor-filtro-recomendaciones .btn-filtro {
    padding: 12px 20px;
    /* width: 90px; */
    border-radius: 20px;
    border:none;
    color: rgb(240, 240, 240);
    font-weight: 500;
    font-size: 12px;
    background-color: var(--background-btn);
    cursor: pointer;
    transition: ease 0.3s;
}
.contenedor-filtro-recomendaciones .btn-filtro:hover {
    background-color: #3a3a3a;
}
.contenedor-filtro-recomendaciones .btn-filtro.activo, .btn-filtro-tus.activo {
    background-color: var(--sombra2-secundario-color);
}
.contenedor-publicidad {
    margin-top: 10px;
}
.contenedor-publicidad img {
    border-radius: 5px;
    width: 200px;
}   

.contenedor-tuspoiler-crear .buscador {
    display: flex;
    align-items: center;
    background-color: var(--background-btn);
    gap: 8px;
    border-radius: 7px;
    padding: 5px 15px;
    width: 50%;
}

.contenedor-tuspoiler-crear .buscador i {
    color: #b3b3b3;
    margin-right: 10px;
}

.contenedor-tuspoiler-crear .buscador input {
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 13px;
    width: 100%;
}
.contenedor-tuspoiler-crear img.list {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}
.contenedor-buscador-list {
    display: flex; 
    justify-content: space-between;
}


/* Playlist y canciones (CAROUSELES) */
section.playlist-home {
    margin-top: 100px;
}
section.playlist-home .carousel-recomendaciones {
    /* width: auto; */
    margin: 10px 30px;
}
section.playlist-home .carousel-recomendaciones .contenedor-card {
    /* width: 40%; */
    margin: 40px;

}
section.playlist-home .carousel-recomendaciones .contenedor-card img {
}

/* SWIPPER */
/* Contenedor: 196 x 248 */
.swiper {
    width: 99%;
    z-index: 0;
  }
  h2.titulo-carousel {
    margin: 10px;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 8px;
    text-align: center;
    background: none;
    border-radius: 8px;
    cursor:pointer;
  }
  .swiper-slide:hover {
    background: #1F1F1F;
  }
  .swiper-slide:hover .contenedor-titulo-corazon p {
    font-weight: 600;
  }
  
  .slide-content {
    height: 230px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .slide-content .contenedor-img-card {
    position: relative;
    display: inline-block;
    height: 85%;
  }
  .slide-content .contenedor-titulo-corazon p {
    margin: 0px;
  }
  .slide-content .contenedor-titulo-corazon .corazon-card {
    width: 15px;
    height: 15px;
  }
  .slide-content:hover .contenedor-titulo-corazon .corazon-card{
    width: 21px;
    height: 21px;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    object-fit: cover;
  }
  .contenedor-titulo-corazon {
    display: flex;
    justify-content:space-between;
    align-items: center;
  }
  .contenedor-titulo-corazon p {
    font-size: 12px;
    color: var(--color-font);
    font-weight: 500;
  }
  .contenedor-titulo-corazon img {
    width: 15px;
    cursor:pointer;
  }

  /* Play de la card */
  .btn-play {
    position: absolute;
    bottom: 0px;
    right: 12px;
    background-color: #f7284af2;
    color: rgba(0, 0, 0, 0.809);
    border: none;
    border-radius: 50%;
    padding: 11px 9px 9px 11px;
    font-weight: bold;
    cursor: pointer;
    opacity: 0;
    bottom: -10px;
    transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.contenedor-img-card:hover .btn-play {
    opacity: 1;
    bottom: 7px;
}

.btn-play:hover {
    background-color: #fc173e;
    color: #2d2d2d;
}

.btn-play svg {
    fill: black;
    transition: fill 0.3s ease-in-out;
}

.btn-play:hover svg {
    width: 31px;
    height: 31px;
}

/* ----------------------------------------- */




/* Media query pantalla > 1600px */
@media only screen and (min-width: 1800px) {
    nav.nav-home {
        width: 100%;
        padding: 30px 0px;
        height: 40px;
    }
    nav.nav-home .contenedor-logo-nav img.img-logo-nav {
        width: 45px;
        height: 45px;
        margin-left: 20px;
    }
    .buscador {
        display: flex;
        align-items: center;
        background-color: var(--background-btn);
        gap: 20px;
        border-radius: 50px;
        padding: 10px 11px;
        width: 400px;
    }
    
    .buscador input {
        font-size: 15px;
    }
        
    .notificacion {
        width: 27px;
    }

    .contenedor-tuspoiler-crear .buscador {
        gap: 5px;
        border-radius: 8px;
        padding: 8px 12px;
    }
    .contenedor-tuspoiler-crear .buscador input {
        font-size: 14px;
    }
    
    /* Perfil */
    .nav-derecha {
        gap: 25px;
        padding-right: 160px;
    }
    .profile-container {
        width: 37px;
        height: 37px;
    }
        
    /* Menu desplegable perfil */
    /* Estilos del menú desplegable */
    .menu-desplegable {
        position: absolute;
        top: 80px;
        right: 160px;
        background-color: var(--background-btn);
        border-radius: 8px;
        width: 250px;
    }

    .menu-desplegable li {
        font-size: 14px;
        padding: 12px;
    }
    .contenedor-recomendaciones-filtro {
        width: 55%;
    }
    .contenido .tu-biblioteca {
        width: 32%;
    }
    .contenedor-tuspoiler-crear div {
        gap: 15px;
        font-size: 16px;
        font-weight: 700;
    }
    .tu-biblioteca .btn-crear {
        border-radius: 20px;
        padding: 10px 16px;
        display: flex;
        gap: 10px;
        font-size: 13px;
    }

    .btn-filtro-tus {
        padding: 10px 18px;
        font-size: 12px;
        border-radius: 100px;
    }

    /* Tus playlist */
    .tus-playlist ul li {
        gap: 10px;
        padding: 10px;
        margin-top: 2px;
    }
    .tus-playlist ul li img {
        width:44px;
        height: 46px;
        border-radius: 7px;
    }
    .tus-playlist ul li div .nombre-tus-playlist {
        font-size: 13px;
        color:rgba(255, 255, 255, 0.936);
        font-weight: 600;
    }
    .tus-playlist ul li div p {
        font-size: 12px;
        color:rgba(197, 197, 197, 0.946);
    }
    /* Menu desplegable tus playlist */
    .menu-tus-playlist {
        display: none;
        position: absolute;
        /* width: 180px; */
        top: 25px;
        left: -168px;
        padding: 10px;
        list-style: none;
        border-radius: 6px;
        background: #2b2b2b;
    }
    .menu-tus-playlist p {
        font-size: 12px;
    }
    .menu-tus-playlist li {
        font-size: 14px;
        padding: 8px 2px;
    }
    /* Menu activo */
    .show-menu-tus-playlist {
        display: block;
    }
    .menu-tus-playlist li.active img {
        width: 26px;
        display:flex;
    }
    .menu-tus-playlist li img {
        display: none;
    }


    /* Recomendaciones */
    /* Filtros + publicidad */
    .contenedor-filtro-recomendaciones {
        display: flex;
        margin: 10px 40px;
        gap: 15px;
    }
    .contenedor-recomendaciones-filtro {
        position: fixed;
        top: 80px; /* son los px que tiene de ancho el nav */
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
    .contenedor-filtro-recomendaciones .btn-filtro {
        padding: 10px 18px;
        font-size: 13px;
    }
    
}